name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    uses: kelvinbward/.github/.github/workflows/standard-static-deploy.yml@main
    with:
      node-version: '20'
      build-command: 'npm run build'
      output-path: './dist'
